In [769]:
import numpy as np
import pandas as pd
import pickle

from sklearn.metrics import accuracy_score, mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler      # Remove Mean and scale to Unit Variance
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from catboost import CatBoostClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn import svm
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier


import warnings
warnings.filterwarnings('ignore')

In [770]:
train_df = pd.read_csv('../../Dataset/batch_data/city_hotel_bookings_updated (4).csv')
#test_df = pd.read_csv('hotel_reservations_updated.csv')

#Data cleaning to make 2015-2016 dataset match the incoming streaming data
train_df.loc[(train_df['meal'] == 'Undefined'), 'meal']= 'SC'
train_df.loc[ (train_df['required_car_parking_spaces'] > 1), 'required_car_parking_spaces']= 1

In [771]:
train_df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Booking_ID
0,City Hotel,1,88,2015,July,27,1,0,4,2,...,9.0,NaN,0,Transient,76.5,0,1,Canceled,2015-07-01,40061
1,City Hotel,1,65,2015,July,27,1,0,4,1,...,9.0,NaN,0,Transient,68.0,0,1,Canceled,2015-04-30,40062
2,City Hotel,1,92,2015,July,27,1,2,4,2,...,9.0,NaN,0,Transient,76.5,0,2,Canceled,2015-06-23,40063
3,City Hotel,1,100,2015,July,27,2,0,2,2,...,9.0,NaN,0,Transient,76.5,0,1,Canceled,2015-04-02,40064
4,City Hotel,1,79,2015,July,27,2,0,3,2,...,9.0,NaN,0,Transient,76.5,0,1,Canceled,2015-06-25,40065

In [772]:
#Checking null values
train_df.isnull().sum()[train_df.isnull().sum() > 0]

children        1
country        16
agent        7388
company     74138
dtype: int64

In [773]:
#Filling in NA values for children column
train_df.children.fillna(0, inplace = True)

In [774]:
train_df.drop(['arrival_date_week_number', 'babies', 'country', 'distribution_channel', 
                               'assigned_room_type', 'booking_changes', 'deposit_type', 'agent', 'company', 
                               'days_in_waiting_list', 'customer_type', 'reservation_status', 'reservation_status_date', 'hotel'], 
                              axis = 1, inplace = True)

print(train_df.dtypes)

is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
meal                               object
market_segment                     object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
Booking_ID                          int64
dtype: object

In [775]:
train_df.head()

,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,market_segment,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,adr,required_car_parking_spaces,total_of_special_requests,Booking_ID
0,1,88,2015,July,1,0,4,2,0.0,BB,Online TA,0,0,0,A,76.5,0,1,40061
1,1,65,2015,July,1,0,4,1,0.0,BB,Online TA,0,0,0,A,68.0,0,1,40062
2,1,92,2015,July,1,2,4,2,0.0,BB,Online TA,0,0,0,A,76.5,0,2,40063
3,1,100,2015,July,2,0,2,2,0.0,BB,Online TA,0,0,0,A,76.5,0,1,40064
4,1,79,2015,July,2,0,3,2,0.0,BB,Online TA,0,0,0,A,76.5,0,1,40065

In [776]:
correlation = train_df.corr()['is_canceled'].abs().sort_values(ascending = False)
correlation

is_canceled                       1.000000
Booking_ID                        0.653194
lead_time                         0.305611
total_of_special_requests         0.297411
previous_cancellations            0.170302
required_car_parking_spaces       0.134466
previous_bookings_not_canceled    0.047835
adr                               0.047745
is_repeated_guest                 0.047165
stays_in_week_nights              0.045164
adults                            0.042420
children                          0.027290
stays_in_weekend_nights           0.010552
arrival_date_day_of_month         0.006041
arrival_date_year                 0.005535
Name: is_canceled, dtype: float64

In [777]:
#Dropping the arrival date variables (excluding month) which are not useful/relevant to the cancellation
train_df.drop(['arrival_date_year', 'arrival_date_day_of_month'], axis = 1, inplace = True)
train_df.head()

,is_canceled,lead_time,arrival_date_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,market_segment,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,adr,required_car_parking_spaces,total_of_special_requests,Booking_ID
0,1,88,July,0,4,2,0.0,BB,Online TA,0,0,0,A,76.5,0,1,40061
1,1,65,July,0,4,1,0.0,BB,Online TA,0,0,0,A,68.0,0,1,40062
2,1,92,July,2,4,2,0.0,BB,Online TA,0,0,0,A,76.5,0,2,40063
3,1,100,July,0,2,2,0.0,BB,Online TA,0,0,0,A,76.5,0,1,40064
4,1,79,July,0,3,2,0.0,BB,Online TA,0,0,0,A,76.5,0,1,40065

In [778]:
categorical_cols = ['arrival_date_month', 'meal', 'reserved_room_type', 'market_segment', 'is_repeated_guest']
numerical_cols = ['lead_time', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'previous_cancellations', 'previous_bookings_not_canceled',
                  'adr', 'required_car_parking_spaces', 'total_of_special_requests']
booking_df = train_df['Booking_ID']
train_df = train_df.drop(['Booking_ID'], axis=1)
numerical_df = train_df.drop(categorical_cols, axis = 1)
categorical_df = train_df.drop(numerical_cols, axis = 1)

In [779]:
#Checking for all unique values of the categorical columns in the training dataframe for encoding
for col in categorical_df.columns:
    print(f"{col}: {categorical_df[col].unique()}")

is_canceled: [1 0]
arrival_date_month: ['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April' 'May' 'June']
meal: ['BB' 'HB' 'SC' 'FB']
market_segment: ['Online TA' 'Groups' 'Offline TA/TO' 'Direct' 'Corporate' 'Aviation'
 'Complementary']
is_repeated_guest: [0 1]
reserved_room_type: ['A' 'D' 'B' 'F' 'E' 'G' 'C']

In [780]:
#Encoding categorical variables
#categorical_df['arrival_date_month'] = categorical_df['arrival_date_month'].map({'January': 0, 'February': 1, 'March': 2,
                                                                                 #'April': 3, 'May': 4, 'June': 5, 'July': 6,
                                                                                 #'August': 7, 'September': 8, 'October': 9, 
                                                                                 #'November': 10, 'December': 11})
#categorical_df['meal'] = categorical_df['meal'].map({'BB' : 0, 'FB': 1, 'HB': 2, 'SC': 3})
#categorical_df['reserved_room_type'] = categorical_df['reserved_room_type'].map({'A': 0, 'B': 1, 'D': 2, 'F': 3, 'E': 4, 'G': 5, 'C': 6,
                                                                   #'P': 7})
#categorical_df['market_segment'] = categorical_df['market_segment'].map({'Offline TA/TO': 0, 'Online TA': 1, 'Groups': 2, 'Complementary': 3,
                                                           #'Direct': 4, 'Corporate': 5, 'Undefined': 6, 'Aviation': 7})

# perform one-hot encoding for the arrival_date_month column
arrival_date_month_one_hot = pd.get_dummies(categorical_df['arrival_date_month'], prefix='arrival_date_month')
# concatenate the one-hot encoded columns to the original dataset
categorical_df = pd.concat([categorical_df, arrival_date_month_one_hot], axis=1)
# drop the original arrival_date_month column
categorical_df.drop('arrival_date_month', axis=1, inplace=True)

# perform one-hot encoding for the meal column
meal_one_hot = pd.get_dummies(categorical_df['meal'], prefix='meal')
# concatenate the one-hot encoded columns to the original dataset
categorical_df = pd.concat([categorical_df, meal_one_hot], axis=1)
# drop the original meal column
categorical_df.drop('meal', axis=1, inplace=True)

# perform one-hot encoding for the reserved_room_type column
reserved_room_type_one_hot = pd.get_dummies(categorical_df['reserved_room_type'], prefix='reserved_room_type')
# concatenate the one-hot encoded columns to the original dataset
categorical_df = pd.concat([categorical_df, reserved_room_type_one_hot], axis=1)
# drop the original reserved_room_type column
categorical_df.drop('reserved_room_type', axis=1, inplace=True)

# perform one-hot encoding for the market_segment column
market_segment_one_hot = pd.get_dummies(categorical_df['market_segment'], prefix='market_segment')
# concatenate the one-hot encoded columns to the original dataset
categorical_df = pd.concat([categorical_df, market_segment_one_hot], axis=1)
# drop the original customer_type column
categorical_df.drop('market_segment', axis=1, inplace=True)

categorical_df.head()

,is_canceled,is_repeated_guest,arrival_date_month_April,arrival_date_month_August,arrival_date_month_December,arrival_date_month_February,arrival_date_month_January,arrival_date_month_July,arrival_date_month_June,arrival_date_month_March,...,reserved_room_type_E,reserved_room_type_F,reserved_room_type_G,market_segment_Aviation,market_segment_Complementary,market_segment_Corporate,market_segment_Direct,market_segment_Groups,market_segment_Offline TA/TO,market_segment_Online TA
0,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [781]:
numerical_df.drop('is_canceled', axis = 1, inplace = True)
numerical_df.head()

,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,previous_cancellations,previous_bookings_not_canceled,adr,required_car_parking_spaces,total_of_special_requests
0,88,0,4,2,0.0,0,0,76.5,0,1
1,65,0,4,1,0.0,0,0,68.0,0,1
2,92,2,4,2,0.0,0,0,76.5,0,2
3,100,0,2,2,0.0,0,0,76.5,0,1
4,79,0,3,2,0.0,0,0,76.5,0,1

In [782]:
numerical_df.var()

lead_time                         12350.144041
stays_in_weekend_nights               0.771775
stays_in_week_nights                  2.029103
adults                                0.249451
children                              0.138215
previous_cancellations                0.165923
previous_bookings_not_canceled        2.646068
adr                                1355.201352
required_car_parking_spaces           0.023509
total_of_special_requests             0.607053
dtype: float64

In [783]:
scaler = StandardScaler()
num_normalized_df = pd.DataFrame(scaler.fit_transform(numerical_df), columns = numerical_df.columns)
num_normalized_df.var()

lead_time                         1.000013
stays_in_weekend_nights           1.000013
stays_in_week_nights              1.000013
adults                            1.000013
children                          1.000013
previous_cancellations            1.000013
previous_bookings_not_canceled    1.000013
adr                               1.000013
required_car_parking_spaces       1.000013
total_of_special_requests         1.000013
dtype: float64

In [784]:
num_normalized_df.head()

,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,previous_cancellations,previous_bookings_not_canceled,adr,required_car_parking_spaces,total_of_special_requests
0,-0.209301,-0.911265,1.265828,0.276311,-0.246163,-0.190506,-0.06995,-0.841931,-0.157111,0.582224
1,-0.416265,-0.911265,1.265828,-1.725900,-0.246163,-0.190506,-0.06995,-1.072829,-0.157111,0.582224
2,-0.173307,1.365339,1.265828,0.276311,-0.246163,-0.190506,-0.06995,-0.841931,-0.157111,1.865705
3,-0.101320,-0.911265,-0.138217,0.276311,-0.246163,-0.190506,-0.06995,-0.841931,-0.157111,0.582224
4,-0.290287,-0.911265,0.563805,0.276311,-0.246163,-0.190506,-0.06995,-0.841931,-0.157111,0.582224

In [785]:
df = pd.concat([categorical_df, num_normalized_df], axis = 1)
y = train_df['is_canceled']
df.drop(['is_canceled'], axis=1, inplace=True)
x = df
x.head()

,is_repeated_guest,arrival_date_month_April,arrival_date_month_August,arrival_date_month_December,arrival_date_month_February,arrival_date_month_January,arrival_date_month_July,arrival_date_month_June,arrival_date_month_March,arrival_date_month_May,...,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,previous_cancellations,previous_bookings_not_canceled,adr,required_car_parking_spaces,total_of_special_requests
0,0,0,0,0,0,0,1,0,0,0,...,-0.209301,-0.911265,1.265828,0.276311,-0.246163,-0.190506,-0.06995,-0.841931,-0.157111,0.582224
1,0,0,0,0,0,0,1,0,0,0,...,-0.416265,-0.911265,1.265828,-1.725900,-0.246163,-0.190506,-0.06995,-1.072829,-0.157111,0.582224
2,0,0,0,0,0,0,1,0,0,0,...,-0.173307,1.365339,1.265828,0.276311,-0.246163,-0.190506,-0.06995,-0.841931,-0.157111,1.865705
3,0,0,0,0,0,0,1,0,0,0,...,-0.101320,-0.911265,-0.138217,0.276311,-0.246163,-0.190506,-0.06995,-0.841931,-0.157111,0.582224
4,0,0,0,0,0,0,1,0,0,0,...,-0.290287,-0.911265,0.563805,0.276311,-0.246163,-0.190506,-0.06995,-0.841931,-0.157111,0.582224

In [799]:
print(x.dtypes)

is_repeated_guest                   int64
arrival_date_month_April            uint8
arrival_date_month_August           uint8
arrival_date_month_December         uint8
arrival_date_month_February         uint8
arrival_date_month_January          uint8
arrival_date_month_July             uint8
arrival_date_month_June             uint8
arrival_date_month_March            uint8
arrival_date_month_May              uint8
arrival_date_month_November         uint8
arrival_date_month_October          uint8
arrival_date_month_September        uint8
meal_BB                             uint8
meal_FB                             uint8
meal_HB                             uint8
meal_SC                             uint8
reserved_room_type_A                uint8
reserved_room_type_B                uint8
reserved_room_type_C                uint8
reserved_room_type_D                uint8
reserved_room_type_E                uint8
reserved_room_type_F                uint8
reserved_room_type_G                uint8
market_segment_Aviation             uint8
market_segment_Complementary        uint8
market_segment_Corporate            uint8
market_segment_Direct               uint8
market_segment_Groups               uint8
market_segment_Offline TA/TO        uint8
market_segment_Online TA            uint8
lead_time                         float64
stays_in_weekend_nights           float64
stays_in_week_nights              float64
adults                            float64
children                          float64
previous_cancellations            float64
previous_bookings_not_canceled    float64
adr                               float64
required_car_parking_spaces       float64
total_of_special_requests         float64
dtype: object

In [786]:
#test_df = test_df.drop(['Unnamed: 0', 'Booking_ID', 'arrival_date_year', 'arrival_date_day_of_month'], axis = 1)
#print(test_df.dtypes)

In [787]:
#cat_test_df = test_df[categorical_cols]
#cat_test_df.head()

In [788]:
#Encoding of Categorical variables of test data
#cat_test_df['arrival_date_month'] = cat_test_df['arrival_date_month'].map({'January': 0, 'February': 1, 'March': 2,
                                                                                 #'April': 3, 'May': 4, 'June': 5, 'July': 6,
                                                                                 #'August': 7, 'September': 8, 'October': 9, 
                                                                                 #'November': 10, 'December': 11})
#cat_test_df['meal'] = cat_test_df['meal'].map({'BB' : 0, 'FB': 1, 'HB': 2, 'SC': 3})
#cat_test_df['reserved_room_type'] = cat_test_df['reserved_room_type'].map({'A': 0, 'B': 1, 'D': 2, 'F': 3, 'E': 4, 'G': 5, 'C': 6,
                                                                   #'P': 7})
#cat_test_df['market_segment'] = cat_test_df['market_segment'].map({'Offline TA/TO': 0, 'Online TA': 1, 'Groups': 2, 'Complementary': 3,
                                                           #'Direct': 4, 'Corporate': 5, 'Undefined': 6, 'Aviation': 7})
#cat_test_df.head()

In [789]:
#Encoding of Numerical variables of test data
#num_test_df = test_df.drop(columns = categorical_cols, axis = 1)
#num_test_df.drop('is_canceled', axis = 1, inplace = True)
#scaler = StandardScaler()
#num_normalized_test_df = pd.DataFrame(scaler.fit_transform(num_test_df), columns = num_test_df.columns)
#num_normalized_test_df.head()

In [790]:
#y_test = test_df['is_canceled']
#x_test = pd.concat([cat_test_df, num_normalized_test_df], axis = 1)

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, test_size=0.2, random_state=42)

### Models

#### Logistic Regression

In [792]:
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
logreg_pred = logreg.predict(x_test)
print(f"Accuracy: {accuracy_score(y_test, logreg_pred)}")

Accuracy: 0.7497579552055768

#### CatBoost Classifier

In [793]:
cat = CatBoostClassifier(iterations=100)
cat.fit(x_train, y_train)
y_pred_cat = cat.predict(x_test)
print(f"Accuracy: {accuracy_score(y_test, y_pred_cat)}")

Learning rate set to 0.49567
0:	learn: 0.5503867	total: 17.9ms	remaining: 1.77s
1:	learn: 0.5179588	total: 28.2ms	remaining: 1.38s
2:	learn: 0.4968040	total: 38.5ms	remaining: 1.24s
3:	learn: 0.4897530	total: 48.8ms	remaining: 1.17s
4:	learn: 0.4837234	total: 60.1ms	remaining: 1.14s
5:	learn: 0.4770447	total: 71.3ms	remaining: 1.12s
6:	learn: 0.4739647	total: 81.3ms	remaining: 1.08s
7:	learn: 0.4688132	total: 93.2ms	remaining: 1.07s
8:	learn: 0.4664956	total: 105ms	remaining: 1.06s
9:	learn: 0.4635077	total: 116ms	remaining: 1.04s
10:	learn: 0.4590240	total: 126ms	remaining: 1.02s
11:	learn: 0.4550469	total: 137ms	remaining: 1s
12:	learn: 0.4521552	total: 147ms	remaining: 982ms
13:	learn: 0.4488682	total: 158ms	remaining: 970ms
14:	learn: 0.4468435	total: 167ms	remaining: 949ms
15:	learn: 0.4453910	total: 177ms	remaining: 927ms
16:	learn: 0.4438700	total: 189ms	remaining: 923ms
17:	learn: 0.4396125	total: 198ms	remaining: 903ms
18:	learn: 0.4359143	total: 210ms	remaining: 893ms
19:	learn: 0.4337135	total: 220ms	remaining: 881ms
20:	learn: 0.4315764	total: 230ms	remaining: 865ms
21:	learn: 0.4299091	total: 240ms	remaining: 850ms
22:	learn: 0.4284474	total: 249ms	remaining: 834ms
23:	learn: 0.4259945	total: 259ms	remaining: 819ms
24:	learn: 0.4241821	total: 269ms	remaining: 806ms
25:	learn: 0.4231610	total: 277ms	remaining: 788ms
26:	learn: 0.4214884	total: 287ms	remaining: 776ms
27:	learn: 0.4199343	total: 299ms	remaining: 768ms
28:	learn: 0.4183293	total: 308ms	remaining: 755ms
29:	learn: 0.4158976	total: 321ms	remaining: 748ms
30:	learn: 0.4144269	total: 331ms	remaining: 736ms
31:	learn: 0.4134038	total: 341ms	remaining: 724ms
32:	learn: 0.4114061	total: 353ms	remaining: 717ms
33:	learn: 0.4095873	total: 366ms	remaining: 710ms
34:	learn: 0.4072005	total: 377ms	remaining: 701ms
35:	learn: 0.4067707	total: 388ms	remaining: 690ms
36:	learn: 0.4055307	total: 401ms	remaining: 684ms
37:	learn: 0.4031763	total: 414ms	remaining: 675ms
38:	learn: 0.4019228	total: 423ms	remaining: 662ms
39:	learn: 0.3999665	total: 436ms	remaining: 655ms
40:	learn: 0.3988952	total: 447ms	remaining: 644ms
41:	learn: 0.3981449	total: 457ms	remaining: 632ms
42:	learn: 0.3967941	total: 469ms	remaining: 621ms
43:	learn: 0.3963784	total: 479ms	remaining: 609ms
44:	learn: 0.3956006	total: 492ms	remaining: 602ms
45:	learn: 0.3946182	total: 526ms	remaining: 617ms
46:	learn: 0.3934922	total: 571ms	remaining: 643ms
47:	learn: 0.3919185	total: 595ms	remaining: 644ms
48:	learn: 0.3909687	total: 620ms	remaining: 645ms
49:	learn: 0.3903146	total: 633ms	remaining: 633ms
50:	learn: 0.3896694	total: 646ms	remaining: 621ms
51:	learn: 0.3879872	total: 656ms	remaining: 605ms
52:	learn: 0.3873347	total: 669ms	remaining: 593ms
53:	learn: 0.3858371	total: 679ms	remaining: 579ms
54:	learn: 0.3842031	total: 688ms	remaining: 563ms
55:	learn: 0.3828718	total: 700ms	remaining: 550ms
56:	learn: 0.3821757	total: 711ms	remaining: 536ms
57:	learn: 0.3818043	total: 721ms	remaining: 522ms
58:	learn: 0.3813057	total: 733ms	remaining: 509ms
59:	learn: 0.3805509	total: 746ms	remaining: 498ms
60:	learn: 0.3795844	total: 757ms	remaining: 484ms
61:	learn: 0.3790219	total: 767ms	remaining: 470ms
62:	learn: 0.3782935	total: 780ms	remaining: 458ms
63:	learn: 0.3774390	total: 792ms	remaining: 445ms
64:	learn: 0.3768240	total: 803ms	remaining: 433ms
65:	learn: 0.3752882	total: 819ms	remaining: 422ms
66:	learn: 0.3739758	total: 834ms	remaining: 411ms
67:	learn: 0.3729378	total: 849ms	remaining: 400ms
68:	learn: 0.3723489	total: 867ms	remaining: 389ms
69:	learn: 0.3715636	total: 886ms	remaining: 380ms
70:	learn: 0.3707630	total: 905ms	remaining: 369ms
71:	learn: 0.3700753	total: 926ms	remaining: 360ms
72:	learn: 0.3694511	total: 946ms	remaining: 350ms
73:	learn: 0.3689545	total: 973ms	remaining: 342ms
74:	learn: 0.3684110	total: 996ms	remaining: 332ms
75:	learn: 0.3678248	total: 1.02s	remaining: 324ms
76:	learn: 0.3669522	total: 1.05s	remaining: 315ms
77:	learn: 0.3663374	total: 1.08s	remaining: 305ms
78:	learn: 0.3658076	total: 1.11s	remaining: 295ms
79:	learn: 0.3653486	total: 1.13s	remaining: 282ms
80:	learn: 0.3646493	total: 1.15s	remaining: 271ms
81:	learn: 0.3639621	total: 1.19s	remaining: 262ms
82:	learn: 0.3634717	total: 1.22s	remaining: 250ms
83:	learn: 0.3630200	total: 1.24s	remaining: 236ms
84:	learn: 0.3627023	total: 1.25s	remaining: 221ms
85:	learn: 0.3619012	total: 1.26s	remaining: 206ms
86:	learn: 0.3614519	total: 1.28s	remaining: 191ms
87:	learn: 0.3611208	total: 1.29s	remaining: 176ms
88:	learn: 0.3604189	total: 1.3s	remaining: 161ms
89:	learn: 0.3597345	total: 1.31s	remaining: 146ms
90:	learn: 0.3590280	total: 1.32s	remaining: 131ms
91:	learn: 0.3584521	total: 1.33s	remaining: 116ms
92:	learn: 0.3579995	total: 1.34s	remaining: 101ms
93:	learn: 0.3575534	total: 1.35s	remaining: 86.3ms
94:	learn: 0.3572028	total: 1.36s	remaining: 71.8ms
95:	learn: 0.3567754	total: 1.37s	remaining: 57.2ms
96:	learn: 0.3561021	total: 1.38s	remaining: 42.8ms
97:	learn: 0.3553153	total: 1.39s	remaining: 28.5ms
98:	learn: 0.3544470	total: 1.4s	remaining: 14.2ms
99:	learn: 0.3539421	total: 1.42s	remaining: 0us
Accuracy: 0.8208868521267669

#### Random Forest Classifier

In [794]:
rd_clf = RandomForestClassifier()
rd_clf.fit(x_train, y_train)
y_pred_rd_clf = rd_clf.predict(x_test)
print(f"Accuracy: {accuracy_score(y_test, y_pred_rd_clf)}")
print(f"Root Mean Squared Error: {mean_squared_error(y_test, y_pred_rd_clf, squared=False)}")

Accuracy: 0.8467695088104306
Root Mean Squared Error: 0.391446664552873

#### Gradient Boosting Classifier

In [795]:
gb = GradientBoostingClassifier()
gb.fit(x_train, y_train)
y_pred_gb = gb.predict(x_test)
print(f"Accuracy: {accuracy_score(y_test, y_pred_gb)}")

Accuracy: 0.7743497063189828

#### Ada Boost Classifier

In [796]:
ada = AdaBoostClassifier()
ada.fit(x_train, y_train)
y_pred_ada = ada.predict(x_test)
print(f"Accuracy: {accuracy_score(y_test, y_pred_ada)}")

Accuracy: 0.7605370167172272

#### K Nearest Neighbours Classifier

In [797]:
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)
knn_pred = knn.predict(x_test)
print(f"Accuracy: {accuracy_score(y_test, knn_pred)}")

Accuracy: 0.8107532434002452

### Model Comparison

Ranking Models By Accuracy

1. 0.846769 Random Forest Classifier
2. 0.820886 CatBoost Classifier
3. 0.810753 K Nearest Neighbours Classifier
4. 0.774349 Gradient Boosting Classifier
5. 0.760537 Ada Boost Classifier
6. 0.749757 Logistic Regression

In [798]:
#Dumping model into Pickle File
pickle.dump(rd_clf, open('cancellation_model.pkl', 'wb'))